html {
    background-color: #c0f4f7;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9fe4e7;
    margin: 20px;
}


header {
    background-color: #cccccc;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 75px;
    color: #000000;
    margin: 0;
}

label {
    font-size: 30px;
    color: #000000;
}

button {
    font-size: 20px;
    color: #000000;
    background-color: #cccccc;
    border: 3px solid #000000;
    padding: 10px 20px;
    margin: 10px;
}

button:hover {
    background-color: #0c4fb3;
    color: white;
  }

.flash-message {
background-color: #f8d7da;
color: #721c24; 
padding: 10px;
border: 1px solid #f5c6cb;
border-radius: 5px;
margin: 10px 0;
font-size: 16px;
}

