<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>User's Dashboard</h1>
    <p>Username: {{ uname }}</p>
    <p>Password: {{ passw }}</p>
    
    <br>
    
    <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form>
    
    <br>
    
    <form action="/" method="get">
        <button type="submit">Return Home</button>
    </form>
    
    <br>
    
    <form action="/view" method="get">
        <button type="submit">All Blogs</button>
    </form>
    
    <br>
    
    <form action="/edit" method="get">
        <button type="submit">Edit Your Blogs (temp)</button>
    </form>
    
    <br>
    
    <form action="/create" method="get">
        <button type="submit">Create Blog</button>
    </form>
</body>
</html>