<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Create New Blog</h1>
    <p>Username: {{ uname }}</p>
    
    <br>
    
    <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form>
    
    <br>
    
    <form action="/" method="get">
        <button type="submit">Return Home</button>
    </form>
    
    <br>
    
    
    <form method="post">
        <input type="text" id="blog_title" name="blog_title" required>
        <br>
        <button type="submit">Create Blog</button>
    </form>
</body>
</html>