<!DOCTYPE html>

<head>
    <title> </title>
</head>

<body>

    user's dashboard
    <br><br>
    {{ uname }}<br> {{ passw }}
    
    <br><br>
    
    <form action="/logout">
        <input type="submit" value="Log Out" name="log Out">
    </form>
    
    <br>
    
    <form action="/">
        <input type="submit" value="Return Home" name="Return Home">
    </form>
    
    <br>
    
    <form action= "/view">
        <input type="submit" value="All blogs" name="submit">
    </form>
    
    <br>
    
    <form action= "/edit">
        this should exist for each blog they own <input type="submit" value="Edit Your Blogs (temp)" name="submit">
    </form>
    
    <form action= "/create">
        Make a new blog: <input type="submit" value="Create Blog" name="submit">
    </form>
    
</body>

</html>
