<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <title> Edit Page </title>
</head>

<body>

    edit page for owners
    
    <br><br>
    
    <form action= "/view">
        <input type="submit" value="All blogs" name="submit">
    </form>
    
    <br>
    
    <form action= "/user">
        <input type="submit" value="Back to your dashboard" name="submit">
    </form>

</body>

</html>
